
body {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    height: 400px;
    width: 400px;
    border-radius: 15px;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
  }

  .counter {
    font-size: 50px;
  }

  .follower {
    font-size: 32px;
  }